/*Externos*/
/*Misc*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

a {
  color: #2C2B4B;
  text-decoration: none;
  font-size: 1.6em; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: monotype;
  src: url("../fuente/Monotype Corsiva.ttf"); }

/*Colors*/
.primary {
  color: #2C2B4B; }

.secondary {
  color: #DE3C4B; }

.alternative {
  color: rgba(152, 151, 132, 0.5); }

.text-color {
  color: #2b2b2b; }

.base {
  color: white; }

.gradient {
  color: linear-gradient(to right, #0f0c29, #302b63, #24243e); }

/* Spacings*/
/*Font-Family*/
/*Font-Size*/
@keyframes move {
  0% {
    transform: translate-X(0); }
  100% {
    transform: translateX(100%); } }

/*Partials*/
a {
  color: #2C2B4B;
  text-decoration: none; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background-color: rgba(152, 151, 132, 0.5); }

.header__gradient {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); }

.header__gradient--title {
  font-weight: bold;
  font-size: 4.8em;
  color: white;
  background-position: center top;
  display: block;
  font-family: monotype;
  padding-left: 1rem; }

.header__gradient--subtitle {
  font-weight: bold;
  font-size: 3.2em;
  color: white;
  background-position: center bottom;
  font-family: monotype;
  padding-left: 1rem; }

.header--link {
  color: white;
  text-decoration: none; }

.header--link--important {
  color: white !important;
  text-decoration: none !important; }

.header__logo, .header--img {
  width: 8rem;
  height: 10rem;
  background-position: right;
  color: white; }

.header--img {
  width: 12rem;
  height: 10rem;
  color: white;
  animation-name: move;
  animation-duration: 3s;
  animation-direction: reverse; }

.header__title, .header--flex {
  font-weight: bold;
  font-size: 4.8em;
  color: #2C2B4B;
  background-position: center top;
  display: block;
  font-family: monotype;
  padding-left: 1rem; }

.header--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0; }

.header__subtitle {
  font-weight: bold;
  font-size: 3.2em;
  color: #2C2B4B;
  background-position: center bottom;
  font-family: monotype;
  padding-left: 1rem; }

.header__menu, .header--item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0;
  padding: 1rem; }

.header--item {
  font-size: 1.6em; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0; }

.nav {
  color: white; }
  .nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    height: 100%;
    width: 90%;
    margin: 0 auto; }
  .nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 1em; }
  .nav__item {
    color: #2C2B4B;
    text-decoration: none;
    --clippy: inset(0 100% 0 0);
    transition: clip-path .3s; }

.nav__item::after {
  content: "";
  display: block;
  background: white;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path .3s; }

.nav__item:hover {
  --clippy:inset(0 0 0 0); }

.nav__label, .nav__input {
  display: none; }

ul li {
  display: inline-block;
  padding: 0.5rem; }

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
    text-align: center;
    row-gap: 3rem; }
  .nav__label {
    display: block;
    cursor: pointer; }
  .nav__menu {
    top: 80px;
    bottom: 0;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    width: 100vw;
    height: 3rem; }
  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center); }
  header a {
    font-size: 1em; }
  .header--img {
    animation: none; } }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(152, 151, 132, 0.5);
  padding-top: 2rem; }

.footer__gradient {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); }

.footer__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-bottom: 1rem; }

.footer__title {
  color: #2C2B4B;
  padding: 0.5rem 0;
  font-size: 2.4em;
  text-align: center;
  display: inline-block; }

.footer__subtitle {
  color: #2C2B4B;
  padding: 0.2em 0;
  font-size: 1.6em;
  display: inline-block; }

.footer__title--pages {
  color: white;
  padding: 0.5rem 0;
  font-size: 2.4em;
  text-align: center;
  display: inline-block; }

.footer_sutbtitle--pages {
  color: white;
  padding: 0.2em 0;
  font-size: 1.6em;
  display: inline-block; }

.footer__icon {
  padding: 0.5rem;
  display: inline-block; }

.footer__link {
  color: #2C2B4B; }

@media screen and (max-width: 800px) {
  footer {
    flex-direction: column;
    align-items: center; } }

main {
  margin: 0 auto;
  padding-bottom: 2rem; }

.pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  grid-area: main; }
  .pages__title {
    display: flex;
    font-size: 6.4em;
    font-weight: bold;
    font-family: monotype;
    color: #DE3C4B;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-content: center; }
  .pages__text {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    color: #2b2b2b; }

/*pages*/
#home {
  background-image: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "none" "footer";
  align-content: space-between; }

@media screen and (max-width: 800px) {
  .index {
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100vw; }
  header {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); }
  .header--img {
    background-color: white; }
  .header__title, .header--flex {
    color: white; }
  .header__subtitle {
    color: white; }
  .nav__item {
    color: white; }
  #home {
    background-image: none; }
  footer {
    margin-top: 0;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); }
  .footer__title {
    color: white; }
  .footer__subtitle {
    color: white; } }

@media screen and (max-width: 800px) and (max-width: 500px) {
  .index {
    height: 50vh;
    width: 100vw; } }

@media screen and (max-width: 800px) and (max-width: 500px) and (max-width: 320px) {
  .index {
    height: 45vh;
    width: 320px;
    margin-left: 0; }
  main {
    margin-top: 2rem; } }

.padding-left {
  padding-left: 0 !important; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  padding-bottom: 2rem; }
  .form__contact__info {
    color: #2C2B4B;
    font-family: monotype;
    font-size: 3.2em;
    display: block;
    text-align: center;
    padding-top: 1rem; }
  .form__contact__content {
    border-width: 0.2em;
    border-style: solid;
    border-color: rgba(152, 151, 132, 0.5);
    display: block; }
  .form__botton {
    margin-top: 1rem;
    padding: 1rem; }

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, auto);
  max-width: 1200px;
  height: 100%;
  margin: 0 auto; }
  .gallery__picture:nth-of-type(1) {
    grid-column: 1 / 5;
    grid-row: 1; }
  .gallery__picture:nth-of-type(2) {
    grid-column: 10 / 13;
    grid-row: 1 / 3; }
  .gallery__picture:nth-of-type(3) {
    grid-column: 1 / 4;
    grid-row: 2; }
  .gallery__picture:nth-of-type(4) {
    grid-column: 4 / 7;
    grid-row: 2; }
  .gallery__picture:nth-of-type(5) {
    grid-column: 1 / 4;
    grid-row: 3; }
  .gallery__picture:nth-of-type(6) {
    grid-column: 10 / 13;
    grid-row: 3; }
  .gallery__picture:nth-of-type(7) {
    grid-column: 1 / 5;
    grid-row: 4 / 6; }
  .gallery__picture:nth-of-type(8) {
    grid-column: 5 / 10;
    grid-row: 4; }
  .gallery__picture:nth-of-type(9) {
    grid-column: 10 / 13;
    grid-row: 4; }
  .gallery__picture:nth-of-type(10) {
    grid-column: 5 / 13;
    grid-row: 5; }
  .gallery__picture:nth-of-type(11) {
    grid-column: 1 / 7;
    grid-row: 7; }
  .gallery__picture:nth-of-type(12) {
    grid-column: 7 / 13;
    grid-row: 6 / 8; }
  .gallery__text:nth-of-type(1) {
    grid-column: 5 / 10;
    grid-row: 1;
    background-color: #1A936F; }
  .gallery__text:nth-of-type(2) {
    grid-column: 7 / 10;
    grid-row: 2;
    background-color: #99B2DD; }
  .gallery__text:nth-of-type(3) {
    grid-column: 4 / 7;
    grid-row: 3;
    background-color: #9ED8DB; }
  .gallery__text:nth-of-type(4) {
    grid-column: 7 / 10;
    grid-row: 3;
    background-color: #FFE0B5; }
  .gallery__text:nth-of-type(5) {
    grid-column: 1 / 7;
    grid-row: 6;
    background-color: #EACDC2; }
  .gallery__text:nth-of-type(6) {
    grid-column: 1 / 13;
    grid-row: 8;
    background-color: #F18701;
    justify-content: center;
    font-size: 3.2em; }
  .gallery__img {
    height: 100%; }

@media screen and (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, auto); }
    .gallery__picture:nth-of-type(1) {
      grid-column: 1 / 2;
      grid-row: 1; }
    .gallery__picture:nth-of-type(2) {
      grid-column: 2 /3;
      grid-row: 1 / 3; }
    .gallery__picture:nth-of-type(3) {
      grid-column: 1 /2;
      grid-row: 2; }
    .gallery__picture:nth-of-type(4) {
      grid-column: 1 /2;
      grid-row: 3; }
    .gallery__picture:nth-of-type(5) {
      grid-column: 2 /3;
      grid-row: 4; }
    .gallery__picture:nth-of-type(6) {
      grid-column: 1/ 2;
      grid-row: 5; }
    .gallery__picture:nth-of-type(7) {
      grid-column: 2 / 3;
      grid-row: 5 / 7; }
    .gallery__picture:nth-of-type(8) {
      grid-column: 1 / 2;
      grid-row: 7; }
    .gallery__picture:nth-of-type(9) {
      grid-column: 2 / 3;
      grid-row: 7; }
    .gallery__picture:nth-of-type(10) {
      grid-column: 1 / 3;
      grid-row: 9; }
    .gallery__picture:nth-of-type(11) {
      grid-column: 1 / 3;
      grid-row: 11; }
    .gallery__picture:nth-of-type(12) {
      grid-column: 1 / 3;
      grid-row: 12; }
    .gallery__text:nth-of-type(1) {
      grid-column: 1 / 3;
      grid-row: 3;
      background-color: #1A936F; }
    .gallery__text:nth-of-type(2) {
      grid-column: 1 / 2;
      grid-row: 4;
      background-color: #99B2DD; }
    .gallery__text:nth-of-type(3) {
      grid-column: 1 / 2;
      grid-row: 6;
      background-color: #9ED8DB; }
    .gallery__text:nth-of-type(4) {
      grid-column: 1 / 3;
      grid-row: 8;
      background-color: #FFE0B5; }
    .gallery__text:nth-of-type(5) {
      grid-column: 1 / 3;
      grid-row: 10;
      background-color: #EACDC2; }
    .gallery__text:nth-of-type(6) {
      grid-column: 1 / 13;
      grid-row: 13;
      background-color: #F18701;
      justify-content: center;
      font-size: 3.2em; }
    .gallery__img {
      height: 100%;
      width: 100%; } }

@media screen and (max-width: 450px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(18, auto); }
    .gallery__picture:nth-of-type(1) {
      grid-column: 1 / 2;
      grid-row: 1; }
    .gallery__picture:nth-of-type(2) {
      grid-column: 1 / 2;
      grid-row: 2; }
    .gallery__picture:nth-of-type(3) {
      grid-column: 1 /2;
      grid-row: 4; }
    .gallery__picture:nth-of-type(4) {
      grid-column: 1 /2;
      grid-row: 5; }
    .gallery__picture:nth-of-type(5) {
      grid-column: 1 /2;
      grid-row: 6; }
    .gallery__picture:nth-of-type(6) {
      grid-column: 1/ 2;
      grid-row: 7; }
    .gallery__picture:nth-of-type(7) {
      grid-column: 1 / 2;
      grid-row: 8; }
    .gallery__picture:nth-of-type(8) {
      grid-column: 1 / 2;
      grid-row: 9; }
    .gallery__picture:nth-of-type(9) {
      grid-column: 1 / 3;
      grid-row: 11; }
    .gallery__picture:nth-of-type(10) {
      grid-column: 1 / 2;
      grid-row: 16; }
    .gallery__picture:nth-of-type(11) {
      grid-column: 1 / 2;
      grid-row: 15; }
    .gallery__picture:nth-of-type(12) {
      grid-column: 1 / 2;
      grid-row: 17; }
    .gallery__text:nth-of-type(1) {
      grid-column: 1 / 2;
      grid-row: 14;
      background-color: #1A936F; }
    .gallery__text:nth-of-type(2) {
      grid-column: 1 / 2;
      grid-row: 3;
      background-color: #99B2DD; }
    .gallery__text:nth-of-type(3) {
      grid-column: 1 / 2;
      grid-row: 6;
      background-color: #9ED8DB; }
    .gallery__text:nth-of-type(4) {
      grid-column: 1 / 2;
      grid-row: 10;
      background-color: #FFE0B5; }
    .gallery__text:nth-of-type(5) {
      grid-column: 1 / 2;
      grid-row: 13;
      background-color: #EACDC2; }
    .gallery__text:nth-of-type(6) {
      grid-column: 1 / 2;
      grid-row: 18;
      background-color: #F18701;
      justify-content: center;
      font-size: 3.2em; }
    .gallery__img {
      height: 100%;
      width: 100%; }
  __picture {
    max-width: 280px; }
  __text {
    max-width: 280px; } }

.we {
  display: grid;
  width: 50vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0fr);
  gap: 0.5rem; }
  .we__img:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1; }
  .we__img:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 2; }
  .we__text:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 1; }
  .we__text:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 2; }

@media screen and (max-width: 800px) {
  .pages__title {
    font-size: 4.8em; } }

@media screen and (max-width: 500px) {
  .pages__title {
    font-size: 3.2em; } }

@media screen and (max-width: 800px) {
  .we {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat 4, 0fr;
    margin-right: 150px; }
    .we__img:nth-of-type(1) {
      grid-column: 1 / 2;
      grid-row: 1; }
    .we__img:nth-of-type(2) {
      grid-column: 1 / 2;
      grid-row: 3; }
    .we__text:nth-of-type(1) {
      grid-column: 1 / 2;
      grid-row: 2; }
    .we__text:nth-of-type(2) {
      grid-column: 1 / 2;
      grid-row: 4; } }
