footer{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: map-get($colors, laternative);
    grid-area: footer;
}

.footer{

    &__gradient{
        background: map-get($colors, gradient);
    }
    
    &__card{
        @include flex(column, center, center, 0);
        margin-bottom: $spacing-1;
    }

    &__title{
        color: map-get($colors, secondary);
        padding: $spacing-05 0;
        font-size: $text-s;
        text-align: center;
        display: inline-block;
    }

    &__subtitle{
        color: map-get($colors, base);
        padding: 0.2em 0;
        font-size: $text-xs;
        display: inline-block;
    }

    &__icon{
        padding: $spacing-05;
        display: inline-block;
    }

@media screen and (max-width: 800px) {
    footer{
        flex-direction: column;
    }
}
}
