footer{
    @include flex(row, space-around, flex-start , 0);
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:  map-get($colors, alternative);
    grid-area: footer;
    margin-top: $spacing-2;
}

.footer{

    &__gradient{
        background: map-get($colors, gradient);
    }
    
    &__card{
        @include flex(column, center, center, 0);
        margin-bottom: $spacing-1;
    }

    &__title{
        color: map-get($colors, primary);
        padding: $spacing-05 0;
        font-size: $text-s;
        text-align: center;
        display: inline-block;
    }

    &__subtitle{
        color: map-get($colors, primary);
        padding: 0.2em 0;
        font-size: $text-xs;
        display: inline-block;
    }

    &__title--pages{
        color: map-get($colors, base);
        padding: $spacing-05 0;
        font-size: $text-s;
        text-align: center;
        display: inline-block;
    }

    &_sutbtitle--pages{
        color: map-get($colors, base);
        padding: 0.2em 0;
        font-size: $text-xs;
        display: inline-block;
    }

    &__icon{
        padding: $spacing-05;
        display: inline-block;
    }

    &__link{
        color: map-get($colors, primary);
    }

}

@media screen and (max-width: 800px) {
    footer{
        flex-direction: column;
        align-items: center;
    }
}