a{
    color: map-get($colors, primary);;
    text-decoration: none;
}
header{
    @include flex(row, space-around, center, 0);
    background-color:  map-get($colors, alternative);
    grid-area: header;
    width: 100vw;
    
}
.header{


    &__gradient{
        background: map-get($colors, gradient);
    }

    &__gradient--title{
        font-weight: bold; 
        font-size: $text-l;
        color: map-get($colors, base); 
        background-position: center top;
        display: block;
        font-family: monotype;
        padding-left: $spacing-1;
    }

    &__gradient--subtitle{
        font-weight: bold; 
        font-size: $text-m;
        color: map-get($colors, base);
        background-position: center bottom;
        font-family: monotype;
        padding-left: $spacing-1; 
    }

    &--link{
        color: map-get($colors, base);
        text-decoration: none
        }

    &--link--important{
        color: map-get($colors, base) !important;
        text-decoration: none !important;
    }

    &__logo{ 
        @include sizes(8rem, 10rem);
        background-position: right;
        color: map-get($colors, base);    
    }

    &--img{
        @extend .header__logo;
        @include sizes(12rem, 10rem);
        color: map-get($colors, base);
        animation-name: move;
        animation-duration: 3s;
        animation-direction: reverse;
        }

    &__title{
        font-weight: bold; 
        font-size: $text-l;
        color: map-get($colors, primary); 
        background-position: center top;
        display: block;
        font-family: monotype;
        padding-left: $spacing-1;
    }
    &--flex{
        @extend .header__title;
        @include flex(column, center, center, 0);
        }

    &__subtitle{
        font-weight: bold; 
        font-size: $text-m;
        color: map-get($colors, primary);
        background-position: center bottom;
        font-family: monotype;
        padding-left: $spacing-1;   
    }    

    &__menu{
        @include flex(row, flex-start, flex-end, 0);
        padding: $spacing-1;
    }

    &--item{
        @extend .header__menu;
        font-size: $text-xs;
        }
}

nav{
    @include flex(row, flex-start, flex-end, 0);
}

.nav{
    color: map-get($colors, base);
    &__container{
        @include flex(row, space-between, center, 0);
        height: 100%;
        width: 90%;
        margin: 0 auto;
    }

    &__menu{
        display: grid;
        grid-auto-flow: column;
        gap: 1em; 

    }

    &__item {
        color: map-get($colors, primary);
        text-decoration: none; 
        --clippy: inset(0 100% 0 0);
        transition: clip-path .3s;
    }
}

.nav__item::after{
    content: "";
    display: block;
    background: map-get($colors, base);
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav__item:hover{
    --clippy:inset(0 0 0 0);
}
.nav__label, .nav__input{
    display: none;
}


ul li{
    display: inline-block;
    padding: $spacing-05;
}  


@media screen and (max-width: 800px) {
    header{
        flex-direction: column;
        text-align: center;
        row-gap: $spacing-3;
    }

    .nav__label{
        display: block;
        cursor: pointer;
    }

    .nav__menu{
        top: 80px;
        bottom: 0;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        width: 100vw;
        height: $spacing-3;

    }

    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);
    }

    header a{
        font-size: $text-xxs;
    }
}

