a{
    color: map-get($colors, base);;
    text-decoration: none;
}
header{
    @include flex(row, space-around, center, 0);
    background-color:  map-get($colors, alternative);
    grid-area: header;
}
.header{


    &__pages{
        color: map-get($colors, base);
    }

    &__gradient{
        background: map-get($colors, gradient);
    }

        &--color{
            @extend .header__gradient;
            color: map-get($colors, base);
        }

    &__logo{
        @include sizes(8rem, 15rem);
        background-position: right;
        color: map-get($colors, base);    
    }

        &--img{
            @extend .header__logo;
            @include sizes(8rem, 10rem);
            color: map-get($colors, base);
        }
    &__title{
        font-weight: bold; 
        font-size: $text-l;
        color: map-get($colors, primary); 
        background-position: center top;
        display: block;
        font-family: monotype;
        padding-left: $spacing-1;
    }
        &--flex{
            @extend .header__title;
            @include flex(column, center, center, 0);
        }

    &__subtitle{
        font-weight: bold; 
        font-size: $text-m;
        color: map-get($colors, base);
        background-position: center bottom;
        font-family: monotype;
        padding-left: $spacing-1;   
    }    

    &__menu{
        @include flex(row, flex-start, flex-end, 0);
        padding: $spacing-1;
    }
        &--item{
            @extend .header__menu;
            font-size: $text-xs;
        }
}

nav{
    @include flex(row, flex-start, flex-end, 0);
}

ul li{
    display: inline-block;
    padding: $spacing-05;
}  

nav ul li a:hover{
    background-color: map-get($colors, secondary);
}

@media screen and (max-width: 800px) {
    header{
        flex-direction: column;
    }
}