 .form{
    @include flex(column, space-evenly, center, 0);
    padding-bottom: $spacing-2;

    &__contact__info{
        color: map-get($colors, primary);
        font-family: monotype;
        font-size: $text-m;
        display: block;
        text-align: center;
        padding-top: $spacing-1;
    }

    &__contact__content{
        border-width: 0.2em;
        border-style: solid;
        border-color: map-get($colors, alternative);
        display: block;
    }

    &__botton{
        margin-top: $spacing-1;
        padding: $spacing-1;
    }
}
