#home{
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "none"
    "footer";
    align-content: space-between;
}

@media screen and (max-width: 800px) {    
    .index{
        background-image: url(../img/home.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
        width: 100vw;
    }

    header{
        background: map-get($colors, gradient);
    }

    .header--img{
        background-color: map-get($colors, base);
    }

    .header__title{
        color: map-get($colors, base); 
    }

    .header__subtitle{
        color: map-get($colors, base); 
    }

    .nav__item{
        color: map-get($colors, base); 
    }

    #home{
        background-image: none;
    }

    footer{
        margin-top: 0;
        background: map-get($colors, gradient);
    }

    .footer__title{
        color: map-get($colors, base); 
    }

    .footer__subtitle{
        color: map-get($colors, base); 
    }

    @media screen and (max-width: 500px) {    
        .index{
            height: 50vh;
            width: 100vw;
        }

    @media screen and (max-width: 320px) {    
        .index{
            height: 45vh;
            width: 320px;
            margin-left: 0 ;
        }
        main{
            margin-top: 2rem;
        }
        
}
}
}