*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

a{
    color: #2C2B4B;
    text-decoration: none;
}

@font-face {
    font-family: monotype;
    src: url("../fuente/Monotype\ Corsiva.ttf");
}